/* 1.1 - Banner */

.banner{
  float: left;
  padding: 0 0;
  &.owl-carousel{
    position: relative;
    height: 100%;
    div:not(.owl-controls) {
      height: 100%;
    }
    .owl-controls .owl-nav{
      height: auto;
    }
    .owl-item img{
      display: none;
    }
    .owl-slide {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  .item{
    position: relative;
  }
  .slider-pos{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
  }
  h1{
    color: $white;
    font-size: 72px;
    padding: 0; 
    margin-bottom: 10px;
    span{
      color: $color_primary;
    }
    &.bg{
      background-color: rgba($color_secondary, .5);
      padding: 20px; 
    }
  }
  p{
    font-size: 18px;
    color: $white;
    padding: 0;
    &.bg{
      background-color: rgba($white, .5);
      padding: 20px;
      color: $color_secondary;
    }
  }

  @media (max-width: 767px) {
    h1{
      font-size: 42px;
    }
  }

  .owl-controls .owl-nav [class*=owl-] {
    color: $white;
    font-size: 18px;
    margin: 5px;
    background: $color_primary;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding-top: 11px;
    text-align: center;
    @include border-radius(50%);
    &:hover {
      background: $color_secondary;
      text-decoration: none;
    }
  }
  .owl-nav{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 40%;
    
    .owl-prev{
      float: left;
      margin-left: 20px !important;
    }
    .owl-next{
      float: right;
      margin-right: 20px !important;
    }
  }
}

.wrap-caption{
	width: 50%;
	&.center{
		width: 80%;
	    margin: 0 auto;
	  	text-align: center;
	}
  &.right{
    width: 50%;
    text-align: right;
    float: right;
  }
	.excerpt{
		margin-bottom: 50px;
	 	font-size: 18px;
	}
	.btn{
		margin-right: 15px;
	}
}

.content-wrap {
    padding: 80px 0;
}
.content-wrap-20 {
    padding: 20px 0;
}
.content-wrap-120 {
    padding: 120px 0;
}

.bg-primary-1{
  background: $color_primary;
}
.bg-primary-2{
  background: darken($color_primary, 10%);
}
.bg-primary-3{
  background: darken($color_primary, 20%);
}
.bg-primary-1.with-hover,
.bg-primary-2.with-hover,
.bg-primary-3.with-hover{
  &:hover{
    background-color: $color_secondary;
  }
}
.img-rounded-3{
  @include border-radius(30px);
}

/* LANDING */
.bg-overlay{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#222222, .9);
  }
}
/* END LANDING */